
    *{ margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; list-style: none; text-decoration: none; }
    @import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed');

    html{ overflow-x: hidden;}

    body{ background-color: #212121;}

    header{ width: 100vw; height: 10vh; background-color: rgba(85,85,85,.4); position: fixed; top: 0;left: 0vw; z-index: 100;}

    .slider-container{ width: 100vw; height: 100vh; background-color: #ffb31a; overflow: hidden;}

    .container{ width: 100vw; height: 100vh;}

    /*    Navegacion Mobile */

        .btn-nav-mob{ width: 3rem; height: 3rem; border-radius: 4rem; background-color: black; 
            text-align:center; position: absolute ; top:0em; right: 1em; 
            display: flex; align-items: center; justify-content: center; cursor: pointer; z-index: 20;}

        .btn-nav-mob .fa{ font-size: 2rem; color: #f2f2f2;}

        .nav-mob{ display: none; width: 60vw; height: 60vh; 
            background-color: rgba(85,85,85,.4); 
            position: absolute; top: 10vh; left: 40vw; }
        .enlaces{
        display: flex; flex-direction: column; flex-wrap: wrap; 
        justify-content: space-around; width: 100%; height: 100%;
        }
        .enlaces li { background-color: rgba( 5,5,5,0);   height: 12%; width: 100%;  display: flex; justify-content: center; align-items: center; 
            margin-top: 2.5%;
        }
        .enlaces li a{ text-align: center; color: #f2f2f2;}
        .enlaces li:nth-child(6) a { color: #ffb31a; }
        .logo-mob{ width: 20vw; height: 10vh; position: relative; left: 1em; top:0vh; display: inline-block;
        }
        
        .logo-mob img{max-width: 100%;}
   
    /* Navegacion Desktop */

        .nav-desk{ display: none;}

 /*social*/
   .social {
    position: fixed; 
    left: 0; 
    top: 200px; 
    z-index: 2000; 
}
 
.social ul li a {
        display: inline-block;
        color:#fff;
        padding: 0px 5px;
        text-decoration: none;
        -webkit-transition:all 500ms ease;
        -o-transition:all 500ms ease;
        transition:all 500ms ease; 
}

.social ul li a:hover {
        padding: 0px 8px; 
}

/* Nosotros */

#sec1{ background-color: #b7b7b7; position: relative; top: 0vh; left: 0vw; }
.video{width: 85vw;  position:absolute; top: 20vh; left: 7.5vw;}
.video-equidad{ max-width: 100%; }

#sec1 h1{ text-align: center; font-size: 2em; padding-top: 2em; padding-bottom: .4em; 
     text-transform: uppercase;}

/*cursos*/
#sec6 h1{ text-align: center; font-size: 2em; padding-top: 2em; padding-bottom: .4em; 
     text-transform: uppercase;}
     h2{ font-size: 1.5em; padding-top: 2em; padding-bottom: .4em;}

.cursos{
    overflow: hidden;
    margin: auto;
    padding: 20px;


}

.cursos li a{
    width: 400px; 
    height: 400px;
    display:block;
    float: left;
    text-align: center;
    margin: auto;
    padding: 20px;
    position: center;
    
}
.cursos li a img{
    width: 200px; 
    height: 200px;  
    border-radius: 100px;
    position: center;
}
/*aliados*/
.donadores{
    width: 100vw;
    height: 10vh;
    background-color: #b7b7b7;
    position: relative;top: 0vh; left: 0vw;
    overflow: hidden;

}
.larg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:url(../img/logoslarg.png); 
    background-size: cover;
    background-repeat: repeat-x;
    background-position: 0px 0px;   

    animation-name: larg;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
    -moz-animation-name: larg;
    -moz-animation-duration: 30s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
}

@keyframes larg {

    from{
        background-position: 0px 0px;
    }   

    to{
        background-position: -3500px 0px;
    }
    animation-name: larg;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

@-moz-keyframes larg {

    from{
        background-position: 0px 0px;
    }   

    to{
        background-position: -3500px 0px;
    }
}
}



/*Footer*/  
    footer{
    height: 10vh;
    width: 100%;
    background-color:rgba(149, 144, 148,0.5);

}
    .datosfooter{
    width: 45%;
    height: 100%;
    list-style: none;
    text-align: right;
    float: right;
    padding: 1em;
    color:white;
    font-family: 'Raleway', regular;
    font-size: 12px;
}    

  #sec6{ background-color: #b7b7b7; position: relative; top: 0vh; left: 0vw; }

    @media screen and ( min-width: 1024px){

    /* Navegacion Mobile */
    .nav-mob{ display: none;}
    .btn-nav-mob{ display: none;}
    .logo-mob{ display: none;}    
    
/* Navegacion Desktop */

    .nav-desk{ display: block; display: flex; width: 100vw; height: 10vh; background-color: rgba(85,85,85,.4); position: absolute;
    top: 0vh; left: 0vw; justify-content: center; align-items: center;}

    .nav-left{display: flex; justify-content: center; align-items: center; width: 60%; height: auto;}

    .nav-left li{ width: 25%; height: 100%; text-align: center;}

    .nav-left li a{color:#f2f2f2;  }

    .nav-right{display: flex; justify-content: center; align-items: center;width: 60%; height: auto;}

    .nav-right li{ width: 25%; height: 100%; text-align: center;}

    .nav-right li a{color:#f2f2f2;  } 

    .nav-desk li a:active{  border-bottom: .2em solid crimson;  }   

    .nav-desk li a:target{  border-bottom: .2em solid lightblue;  }   

    .logo-desk{display: flex; justify-content: center;  width: 30%; align-self: center; margin-top: 1em;}

    .logo-desk img{ max-width: 100%;}    
    
    .nav-right li:nth-child(3) a { color: #ffb31a; }    

/* Nosotros */
    #sec1{ background-color: #b7b7b7; position: relative; top: 0vh; left: 0vw; }
    
    .video{width: 45vw;height: 45vh;  position:absolute; top: 20vh; left: 7.5vw;}
    
    .video-equidad{ width: 100%; height: 100%; }

    #sec1 h1{ text-align: center; font-size: 2em; padding-top: 3em; 
        padding-bottom: .4em; text-transform: uppercase;}

}

    @media screen and ( min-width: 1280px){

/* Navegacion Desktop */

/* Nosotros */

}

